@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

body {
    font-family: 'Eater', cursive;
    background: url("https://media.istockphoto.com/id/1338907781/photo/halloween-party-card-pumpkins-and-skeleton-in-graveyard-at-night-with-wooden-board.webp?b=1&s=170667a&w=0&k=20&c=nKu39Moj4SrXKNYHYEr2U1VM3zmqMft6-RZPt-KOs0g=");
    background-size: cover;
    
}
ul {
    list-style: none;
}
li {
    border-bottom: gray 1px solid
}

.todoList{
    padding-top: 275px;
    color: orange;
    font-size: 22px;
}
input{
    background: #40257d;
    border: none;
}